@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,900&display=swap');


* {
    margin: 0;
    padding: 0;
    font-family: "poppins", "sans-serif";
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: rgb(29, 28, 28);
}

div {
    position: absolute;
    font-size: 7em;
    text-transform: uppercase;
    letter-spacing: 10px;
}

div.text {
    background: linear-gradient(90deg, rgb(255, 0, 0), rgb(234, 0, 255), rgb(0, 110, 255), rgb(208, 255, 0));
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

div.shadow {
    text-shadow: 8px 2px 5px rgb(0, 255, 0);
    z-index: -1;
}